@font-face {
    font-family: "Companion";
    src: url(../../../webfonts/Compagnon-Roman.woff);
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "Dingdong";
    src: url(../../../webfonts/DINdong/DINdong.woff);
}