@font-face {
    font-family: "Companion";
    src: url(../../../webfonts/Compagnon-Roman.woff);
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "dingdong";
    src: url(../../../webfonts/DINdong/DINdong.woff);
}

@font-face {
    font-family: "Adelphe";
    src: url(../../../webfonts/adelphe/otf/Adelphe-GerminalRegular.otf);
}

@mainfont: "Companion";
.companion {
    font-family: @mainfont;
}

@dingdong: "dingdong";
.dingdong {
    font-family: @dingdong;
}

@adelphe: "Adelphe";
.adelphe {
    font-family: @adelphe;
}
