body.home {
    .section-about {
        .flex {
            >* {
                flex-basis: 50%;
            }

            img {
                max-height: 33rem;
            }
        }
    }

    .multiple-container-horizontal {
        display: flex;
        border-bottom: 2px solid @violet;
        align-items: flex-end;

        .container-section {
            flex-basis: 100%;
            .flex(flex, column, space-evenly);
            line-height: 1.4;
            position: relative;
            border-top: none;

            a.innersite-link {
                padding: 0;
            }

            p {
                margin-top: @margin*0.5;
                margin-bottom: 0;
            }

            &:nth-child(odd) {
                flex-direction: column-reverse;
                margin-bottom: 2.5em;

                .container-text {
                    height: initial;
                    margin-top: auto;
                }

                img {
                    margin-top: @margin*2;
                }
            }

            &:nth-child(4n + 1) {
                flex-direction: column;
            }

            &:nth-child(even) {
                .container-text {
                    height: initial;
                    margin-bottom: auto;
                }


                img {
                    margin-bottom: @margin*1;
                }
            }

            .img-small {
                padding: 0 @margin;
            }

            // &#footer {
            //     // height: 100%;
            //     // border-top: none;
            // }

            // &&#border {
            //     border-top: solid 2px @violet;
            //     height: 100%;
            // }
        }
    }
}

.small-line {
    // width: 100%;
    height: 2em;
    border-right: 2px solid @violet;

    // &&.footer {
    //     margin-bottom: auto;
    // }
}