a {
    color: @textColor;

    &:hover {
        color: @violet;
    }
}

a img.logo {
    display: block;
    width: 100%;
}

a.innersite-link {
    .companion;
    .flex(flex, row, flex-start, center);
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    padding: @margin 0;
    font-size: 1.8rem;
    line-height: 1;
    &.violet {
        color: @violet;
        &:hover {
            color: @textColor;
        }
    }
}

.link-list {
    display: flex;
    flex-direction: column;
}
