.overlay {
    .size(100%, 0);
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: @violet;
    background-color: @violet;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
}


// #logo-overlay {
//     position: absolute;
//     cursor: pointer;
//     .size(25%, 25%);
//     z-index: 3;
//     top: 0;
//     left: 10%;
// }


.overlay-menu {
    width: 100%;
    .flex(flex, row, space-evenly);
    align-items: center;
    .dingdong;
    position: relative;
    top: 25%;
    margin-top: 30px;
}


// .overlay-content {

//     // width: 100%;
//     // color: white;
//     // display: inline-flex;
//     // justify-content: center;
//     // font-size: 1.5em;
// }

.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: white;
    transition: 0.3s;

    &:hover {
        color: #f1f1f1;
    }

    &:focus {
        color: #f1f1f1;
    }
}

.overlay .closebtn {
    // position: absolute;
    // top: 4%;
    // right: 10%;
    font-size: 70px;
    // padding: 40px;
}