body.references {



    h2 {
        font-size: 2.7rem;
        margin-top: @margin *8;
        margin-bottom: @margin *4;
    }

    H3 {
        font-family: 'dingdong';
        margin-top: @margin *2;
        font-size: 1.7rem;
    }

    .items-collection {
        margin-top: @margin * 2;
        display: flex;
        gap: @margin*2;
        flex-wrap: wrap;
    }

    .ref-item {
        margin-bottom: @margin *2;
        width: 200px;
        display: flex;
        flex-direction: column;

        img {
            max-width: 200px;
            border: 1px solid #000;
            display: block;
            margin-bottom: 10px;

        }

        h4 {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 10px;
            margin-top: 0px;

        }

        a {
            font-size: 1.1rem;
            padding: 0px;
        }
    }

    @media only screen and (max-width: 600px) {
        .ref-item {
            width: 100%;
            max-width: 100%;
        }

    }

}