h1,
h2,
h3,
h4,
.ul-title {
    font-family: "Companion";

    .dingdong {
        font-family: "dingdong";
    }
}

h1 {
    font-size: 4rem;
    line-height: 0.8;
    letter-spacing: -0.05em;
    margin-top: @margin*2;
    margin-bottom: @margin * 4;

    &.fiche {
        margin-left: @margin;
    }
}

h2 {
    font-size: 1.8rem;
    margin-bottom: @margin;
    margin-top: @margin * 2;

    &.fiche {
        font-size: 2rem;
        margin-bottom: @margin * 3;
        font-variant: small-caps;
    }
}

h3 {
    font-size: 1.5rem;
    margin-bottom: @margin;
    margin-top: @margin;

    &.fiche {
        font-size: 2rem;
        margin-bottom: @margin * 3;
        margin-top: @margin * 3;
    }
}

.ul-title {
    line-height: 1;
    margin-bottom: @margin;
    font-size: 1.5rem;
}