.videotexte {
    font-family: Companion;
    // font-weight: bold;
    font-size: 3vw;
    line-height: 0.8;
    letter-spacing: -0.05em;
    margin-bottom: -40px;
    color: white;
    position: absolute;
    animation-name: show;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 3;

    .dingdong {
        font-size: 0.9em;
    }

    &.acces1 {
        .access (350px, 60%, 15%, @animation-delay: 3s, @anima-dura: 5s, );
    }

    &.acces2 {
        .access(@width: 500px, @bottom: 30%, @left: 45%, @animation-delay: 10s, @anima-dura: 5s);
    }

    &.acces3 {
        .access(@width: 350px, @top: 40%, @left: 10%, @animation-delay: 30s, @anima-dura: 5s);
    }

    &.acces4 {
        .access(@width: 350px,
            @top: 15%,
            @right: 25%,
            @animation-delay: 30s,
            @anima-dura: 5s);
    }

    &.acces5 {
        .access(@width: 350px,
            @top: 40%,
            @right: 15%,
            @animation-delay: 30s,
            @anima-dura: 5s);
    }

    &.acces6 {
        .access(@width: 350px,
            @bottom: 25%,
            @left: 10%,
            @animation-delay: 30s,
            @anima-dura: 5s);
    }

    &.acces7 {
        .access(@width: 350px,
            @bottom: 20%,
            @right: 20%,
            @animation-delay: 30s,
            @anima-dura: 5s);
    }

    &.acces8 {
        .access(@width: 500px,
            @top: 50%,
            @right: 20%,
            @animation-delay: 18s,
            @anima-dura: 3s);
    }

    &.acces9 {
        .access(@width: 350px,
            @top: 20%,
            @right: 10%,
            @animation-delay: -2s,
            @anima-dura: 6s);
    }

    &.acces10 {
        .access(@width: 350px,
            @bottom: 30%,
            @left: 20%,
            @animation-delay: 25s,
            @anima-dura: 3s);
    }
}