@keyframes show {
    0% {
        opacity: 0;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes statique {
    to {
        visibility: visible;
    }
}

// .videotexte {
//     font-family: Companion;
//     font-weight: bold;
//     font-size: 72px;
//     line-height: 0.7;
//     letter-spacing: -0.05em;
//     margin-bottom: -40px;
//     color: white;
//     position: absolute;
//     animation-name: show;
// }

.video {
    padding-top: 66.66%;
    height: 0px;
    position: relative;
    /* position: fixed;
  width: 100% !important;
  display: block;
  height: auto !important;
  margin-top: -20px; */
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;

    /* position: relative;
  width: 100%; */
}

.trame {
    top: 0;
    background-image: url(../../svg/trame1.png);
    position: absolute;
    object-fit: cover;
    z-index: 1;
    /* height: 0px; */
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.video-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: @violet;
    mix-blend-mode: multiply;
    z-index: 2;
}

#burger-video {
    position: absolute;
    cursor: pointer;
    width: 14%;
    z-index: 3;
    left: 75%;
    top: 7%;
}

.scroll {
    position: absolute;
    .size(25%, 10%);
    color: white;
    bottom: 80px;
    left: 0;
    z-index: 3;
    font-weight: bold;
    stroke-width: 1.8;
}

// .acces1 {
//     width: 350px;

//     top: 200px;
//     left: 250px;
//     visibility: hidden;
//     animation-delay: 3s;
//     animation-duration: 5s;
//     animation-name: show;
// }

// .acces2 {
//     width: 500px;

//     bottom: 70px;
//     left: 450px;
//     animation-delay: 10s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

// .acces9 {
//     width: 350px;

//     top: 30px;
//     right: 180px;
//     animation-name: show;
//     animation-delay: -2s;
//     visibility: hidden;
//     animation-duration: 6s;
// }

// .acces8 {
//     width: 500px;

//     top: 350px;
//     right: 100px;
//     animation-delay: 18s;
//     visibility: hidden;
//     animation-duration: 3s;
// }

// .acces10 {
//     width: 350px;

//     bottom: 200px;
//     left: 150px;
//     animation-delay: 25s;
//     visibility: hidden;
//     animation-duration: 3s;
// }

// .acces3 {
//     width: 350px;

//     top: 100px;
//     left: 150px;
//     animation-delay: 30s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

// .acces4 {
//     width: 350px;

//     top: 0;
//     right: 300px;
//     animation-delay: 30s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

// .acces5 {
//     width: 350px;

//     right: 200px;
//     top: 200px;
//     animation-delay: 30s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

// .acces6 {
//     width: 350px;

//     bottom: 200px;
//     left: 150px;

//     animation-delay: 30s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

// .acces7 {
//     width: 350px;

//     position: absolute;
//     bottom: 0;
//     right: 250px;

//     animation-delay: 30s;
//     visibility: hidden;
//     animation-duration: 5s;
// }

.statique {
    font-family: Companion;
    font-weight: bold;
    font-size: 3vw;
    line-height: 0.7;
    letter-spacing: -0.05em;
    margin-bottom: -40px;
    animation-name: show;
    z-index: 3;
    width: 350px;
    color: white;
    position: absolute;
    top: 25%;
    right: 6%;
    visibility: hidden;
    animation: statique 0s 38s forwards;
    filter: drop-shadow(2px 4px 6px black);
}
